<div class="row{{#equals status "deleted"}} ul-deleted{{/equals}}">
    <div class="column medium-4 small-12 product-listing">
        <div class="ul-image-holder" uid="{{uid}}"></div>
        <a href="/api/product/{{source}}/{{sid}}">{{name}}</a>
    </div>
    <div class="column medium-8 small-12">
        <div class="search-product-description">{{{description}}}</div>
    </div>
</div>
